






* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header
{
    /* background-color: #EA580C; */
    background-color: #41c4f6;
    padding: 10px;
}


.navlink {
    display: flex;
    gap: 40px;
    padding: 20px;
    margin: 15px;
    list-style: none; 
}

 a {
    text-decoration: none;
}
a:hover {
    color:black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 1.5rem;
}
.search-bar {
    padding-top: 20px;
}
/* to make the logo small */
.logo {
    width:170px;
}
body {
    background-color:mintcream;
    font-family: Arial, Helvetica, sans-serif;
}

.gama
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    flex-wrap: wrap;
}
.canva {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 700px;
    height: 600px;
    /* padding-top: 40px; */
}
/* .gem {
    display: flex;
} */
/* to differentiate the h1 from h2 */
h2 {
    font-size:7rem;
    color:#333333;
}
h1 {
    color:#000000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-size:1.5rem;
}
p {
    font-size:1.5rem;
}
.rgb {
    color:navy;
    font-size: 1cm;
    padding-top: 60px;
    padding-bottom: 30px;
}
.sec {
    background-color:#fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
}
.gema {
    text-align: center;
    align-items: center;
    padding-left: 300px;
}

/* 
.div2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
} */
.div5 {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
.div5 img {
    height: 300px;
    width: 400px;
}


.order {
    display: flex;
    justify-content: right;
    gap: 60px;
    flex-direction: row;
    font-size: 1.2cm;
    padding-top: 30px;
}
.order > li {
    list-style: none;
}
/* to give space so that the image will not touch the nav line */

.sect {
     padding: 10px;
     margin-top: 40px; 
    font-size:1.5rem;
}
h4 {
    padding-top: 20px;
    padding-bottom: 10px;
}
.cla {
    margin-bottom: 30px;
}

hr {
    border:2px solid lightblue;
    
}
.supp {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 20px;

}
/* to make the image more bigger in size and be more seen */
.sup {
    display: flex;
    width: 300px;
    margin-top: 30px;
    height: 300px;
}
/* i used flex and align items so that my text will be beside the image */
.game {
    display: flex;
   gap: 30px;
   padding-bottom: 50px;
   margin-bottom: 20px;
      align-items: center;
padding-left: 20px;
   padding-right: 20px;
   padding: 30px; 
} 
.gam  {
    padding-left: 30px;
}
.gam img{
    width: 400px;
    height: 300px;
} 
.nam {
    text-align: center;
    padding: 30px;
}

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      background: lightblue;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      padding-top: 40px;
    }
    th, td {
      padding: 12px;
      text-align: left;
      border: 1px solid #ddd;
    }
 
    th {
      background-color: #0096c7;
      color: white;
    }
    tr:nth-child(even) {
      background-color: #f0f8ff;
    }
    tr:hover {
      background-color: #dbeeff;
    }
.diva {
    background-color: #ddd;
    border: 10px solid white;
    margin-left: 600px;
    margin-right:500px;
}
.name {
    font-size: 2rem;
}
input {
    width: 350px;
    height: 80px;
}
input::placeholder {
    font-size:x-large;
    text-align: center;
   }

button {
    background-color:lightskyblue;
    padding: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

button a:hover
{
    background-color:#ddd;
    padding: 5px;
}
.par{
    padding: 30px;
    font: 1em sans-serif;
    font-size: 2.7rem;
}
.para {
    background-color: lightgray;
    margin-top: 60px;
    padding: 10px;
    font-size: 18px;
    width: 100%;

}
.pa {
    margin-top: 60px;
    font-size: 1.2cm;
}

.set {
    list-style: none;
}

.gem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}
.geme {
    display: flex;
    justify-content:space-between;
}
.pag {
    text-align:center;
 }
 html {
    /* font-size: 100%; */
 }

 html, body 
 {
    overflow-x: hidden;
 }


 @media  (max-width: 800px){

    html
    {
        max-width: 100%;
    }
    header
    {
        font-size: 30px;
        max-width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 30px;
    }
 }
    
 